*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
**/.bob/
build/
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof
*.pyc
## Android Studio
*.keystore
!/debug.keystore
## Kotlin
.kotlin/
## Gradle
.gradle/
.bob/
build/
